@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;700&display=swap');

body {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.curved {
    border-radius: 10px;
}

.banner-image {
    width: 1100px;
}
.s-container{ 
    max-width: 1100px;
}